<!doctype html>
{% extends "hhands/base.html" %}
{% block body_block %}

<div class="container">
	<div class="jumbotron">

		<a href="hhands/getimage/">Click me</a>

		{{ request.getimage }}

<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="static/css/geostyle.css">
	<link rel="stylesheet" href="static/css/theme/sky.css" id="theme"> -->
   <!-- <style>
Header {
    position: absolute;
    left: 460px;
    top: 10px;
}
scene {
    position: absolute;
    left: 250px;
    top: 10px;
}
text {
    position: absolute;
    left: 300px;
    top: 600px;
}
</style> -->
<!-- </head>
<body>

<Header> <h2> Medicaid Drug Utilization - Program Year 2017 <h2> </Header>


   <scene> <div id="chart"></div> </scene>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="static/js/appGeo.js"></script>

	<text>
	<p style="text-align:left;" style="font-family:arial;">

	<font size="3">

		 The choropleth map is to present an overview of the Medicaid proagram utilization in Uited States. <br>
		 The color legend represents from least to the most progarm utilization within different states.
</font>	</p> 	<br>
<!--   <h2 align = "center"> <a href="index.html"> Home </a>  |  <a href="aboutvisualization.html">About Visualization</a>  |  <a href="index_TIBar.html">Next Scene</a></h2> -->
    <!-- <h2 align = "center"> <a href="aboutvisualization.html">About Visualization</a>  |  <a href="index_TIBar.html">Next Scene</a></h2>
	</text>
   <br><br> -->

	 {{ request.data.service_state }}

 </div>
 </div>
 {% endblock %}
</body>
</html>
