
<!DOCTYPE html>
{% extends "hhands/base.html" %}
  {% block body_block %}

<br><br>
 <form name="myform" method="POST" action="/search/">
  {% csrf_token %}
  <input type="text" name="srh" placeholder="Search" />
</form>

<h3> HCP Information</h3>

<br>
    <div class="customersql">
      {% if f_name %}
      <table>
        <thead>
          <th>f_name</th>
          <th>f_name</th>
        </thead>
        {% for i in f_name %}
        <tr>
          <td>{{ i.f_name }}</td>
          <td>{{ i.f_name }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p> No data found </p>
      {% endif %}
    </div>

{% endblock %}
