
<!-- {% extends "hhands/base.html" %}
{% block body_block %}

<div class="jumbotran">
<br><br>
<p> Do you want to know the more details about Physician? Here you can search physician of your inrest
to know more about. You can see the physician name, different locations of their service and office(s) locations, their service and beneficiery ratings
and more. Please enter physician first name or last name and search for details.  </p>

  <h3> List of Health Care Providers </h3>
  <form name="myform" method="GET" action="/hhands/searchhcp_data/">
   {% csrf_token %}
   <div class="form-group">
     <div class="col-lg-5">
        <input type="text" name="search" placeholder="Enter HCP First/Last Name"/>
        <button type="submit" class = "btn btn-danger">Search</button>
     </div>
    </div>
 </form>
<br><br> -->
  <!-- <ol>
    {% if hcpresults %}
    {% for hcps in hcpresults %}
    <h3> <li> <a href="{{hcps.id}}/"> {{hcps.f_name}}, {{hcps.l_name}} </li> </h3>
      {% endfor %}
    {% else %}
    <br>
    <p> Please enter correct Physician name and search </p>
    {% endif %}
  </ol> -->
  <div  class="container">
    <div  class="row mx-auto">
      {% for hcps in hcp_data_results %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
          <div class="card text-center" style="min-width: 18rem;">
            <a href="{{hcps.NPI_Number}}">{{hcps.f_name}} , {{hcps.l_name}}</a>
            <div class="card-body">
                <p>{{hcps.f_name}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>

</div>

<br><br>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="paginator">

  <!-- {{ drg.has_previous }}
  {{ drg.has_next }}
  {{ drg.number }}
  {{ drg.paginator.count }}
  {{ drg.paginator.num_pages }}
  {{ drg.paginator.page_range }} -->
  {% if hcp_data_results.has_previous %}



  <a href="?page=1 {% if request.GET.search %}&search={{ request.GET.search}}{% endif %}">&laquo;First</a>
  <a href="?page={{hcp_data_results.previous_page_number}}{% if request.GET.search %}&search={{ request.GET.search}}{% endif %}">Previous</a>
  {% endif %}

  {% for num in hcp_data_results.paginator.page_range %}
    {% if hcp_data_results.number == num %}
      <strong> {{ num }} </strong>
    {% elif num > hcp_data_results.number|add:'-3' and num < hcp_data_results.number|add:'3' %}
    {{ num }}
  {% endif %}
  {% endfor %}

  {% if hcpresults.has_next %}
  <a href="?page={{hcp_data_results.next_page_number}}{% if request.GET.search %}&search={{ request.GET.search}}{% endif %}">Next</a>
  <a href="?page={{hcp_data_results.paginator.num_pages}}{% if request.GET.search %}&search={{ request.GET.search}}{% endif %}">Last &raquo;</a>
  {% endif %}
</div>

</div>

{% endblock %}
